
<section class="list">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col" class="col-sm-6">제목</th>
        <th scope="col">작성일</th>
        <th scope="col">작성자</th>
      </tr>
    </thead>
    <tbody>
      <template>
        <tr v-for="board in boards" >


            <th scope="row">{{board.no}}</th>
            <td><router-link :to="{ name: 'view', params: { no: board.no }}">{{board.title}}</router-link></td>
            <td>{{ board.registedAt }}</td>
            <td>{{board.register}}</td>


        </tr>
      </template>
    </tbody>
  </table>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-warning"><router-link :to="{ name: 'logout'}">로그아웃</router-link></button>
      <button type="button" class="btn btn-success" @click.prevent="writeBoard">글쓰기</button>
    </div>
  </div>
</section>

